<nav class="navbar navbar-dark shadow-sm sticky-top mb-5 navbar-expand-sm" style="background-color:#001f3f;">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="../assets/black bagground white quill.png" height="90px" width="80px"><img><b style="font-family:littledays; font-size:larger">HAND<img src="../assets/arrow.gif" height="100" width="65"></b><b>NOTE</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-2">
      </ul>
    </div>
  </div>
</nav>
<app-drop-component></app-drop-component>
